
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <a href="log">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" autofocus>
          Log in
        </button>
      </a>
      <a href="sinup"> <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Up</button></a>
      

    </div>
      </div>
    </nav>
    <br>

<form class="form-horizontal" action="/action_page.php" style="margin-left:50%;  ">
  <div class="whole" style="background-color:#e6e6e6; width:70%">
     
    <div class="form-group" style="background-color: #f2f2f2" >
      <label class="control-label col-md-auto" for="info" style="font-size:24px; font-family:Eras Demi ITC; ">LOG IN BELOW</label>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <input type="email" class="form-control" id="email" placeholder="Enter email" style="background-color:#d0d0d0;">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-6">
        <input type="password" class="form-control" placeholder="Password" id="Password" required style="background-color:#d0d0d0;">
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label class="control-label col-md-auto" for="check"><input type="checkbox"> Remember me</label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" style="margin-bottom:12px;">LOG IN</button>
      </div>
    </div>
  </div>
</form>







